*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 340px){
    h1{
        font-size: 48px;
        line-height: 54px;
        max-width: 270px;
    }

    .header_left p{
        max-width: 270px;
    }

    .header_left, .header_right {
        width: 270px;
    }
}

@media screen and (min-width: 400px) and (max-width: 480px){
    .header_left, .header_right, .copy_text, .copy_image {
        max-width: 370px;
    }

    .header_right, .copy_image {
        align-self: center;
    }
}

@media screen and (min-width: 480px) and (max-width: 650px){
    .header_left, .header_right, .copy_text, .copy_image, .stats_text h2, .articles_text {
        max-width: 420px;
    }

    .header_right, .copy_image {
        align-self: center;
    }

    nav.mobile_nav_bar{
        padding: 24px 42px;
    }

    .header{
        padding: 12px 42px 60px 42px;
    }

    section.clients, .wrapper_stats, section.article, .wrapper_CTA, footer.footer_mobile, section.copy_2 {
        padding: 60px 42px;
    }

    section.benefits, section.copy {
        padding: 0px 42px 60px;
    }

    .header, section.copy, section.copy_2{
        align-items: center;
    }

    .copy_text, .copy_image{
        max-width: 420px;
    }

    .article.copy_text, .copy_image, .article_left, .article_right{
        max-width: 420px;
    }

    .wrapper_article {
        align-items: center;
        padding: 0px;
    }

    .wrapper_CTA{
        align-items: center;
    }

    .wrapper_CTA h1{
        text-align: center;
        max-width: 450px;
    }

    .wrapper_mobile_nav_bar{
        padding: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        max-width: 420px;
        margin: 0 auto;;
    }

}


@media screen and (min-width: 650px) and (max-width: 1024px){
    .header_left, .header_right, .copy_text, .copy_image, .stats_text h2, .articles_text {
        max-width: 720px;
    }

    .header_right, .copy_image {
        align-self: center;
    }

    nav.mobile_nav_bar{
        padding: 24px 42px;
    }

    .wrapper_mobile_nav_bar{
        padding: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        max-width: 720px;
        margin: 0 auto;
    }

    .header{
        padding: 12px 42px 60px 42px;
    }

    section.clients, .wrapper_stats, section.article, .wrapper_CTA, footer.footer_mobile, section.copy_2 {
        padding: 60px 42px;
    }

    section.benefits, section.copy {
        padding: 0px 42px 60px;
    }

    .header, section.copy, section.copy_2{
        align-items: center;
    }

    .copy_text, .copy_image{
        max-width: 720px;
    }

    .article.copy_text, .copy_image, .article_left, .article_right{
        max-width: 720px;
    }

    .wrapper_article {
        align-items: center;
        padding: 0px;
    }

    .wrapper_CTA{
        align-items: center;
    }

    .wrapper_CTA h1{
        text-align: center;
        max-width: 450px;
    }


}