*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

/*Start: Color Palette*/

:root {
    --Brand-Primary: #4CAF4F;

    --Neutral-Black: #263238;
    --Neutral-D_Gray: #4D4d4d;
    --Neutral-Grey: #717171;
    --Neutral-L_Grey: #89939E;
    --Neutral-Grey_Blue: #ABBED1;
    --Neutral-Silver: #f5f7fa;
    --Neutral-White: #FFF;
    
}

/*End: Color Palette*/

/*Start: Nav Bar*/

nav.mobile_nav_bar{
    background-color: var(--Neutral-Silver);

    visibility: visible;
    overflow: visible;
}

.wrapper_mobile_nav_bar{
    padding: 24px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

nav.desktop_nav_bar{
    visibility: hidden;
    overflow: hidden;
    width: 0px;
    height: 0px;
}

/*End: Nav Bar*/

/*Start: Header*/

header{
    background-color: var(--Neutral-Silver);
}

.header{
    display: flex;
    padding: 12px 30px 60px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

.header_left{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}

.header_left p {
    text-align: left;
}


.header_right img{
    width: 100%;
}

/*End: Header*/

/*Start: Clients*/

section.clients{
    display: flex;
    padding: 60px 30px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.clients_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.clients_logos{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 18px 18px;
    flex-wrap: wrap;

    max-width: 380px;
}

.clients_text h2 {
    text-align: center;
    max-width: 360px;
}

.clients_text p {
    text-align: center;
    max-width: 360px;
}

/*End: Clients*/

/*Start: Benefits*/

section.benefits{
    display: flex;
    padding: 0px 30px 60px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.benefits_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.benefits_text h2,p{
    text-align: center;
}

.benefits_text h2 {
    max-width: 420px;
}

.benefits_card_section {
    max-width: 100%;
}

.benefits_card{
    display: flex;
    max-width: 300px;
    padding: 24px 32px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom:30px;

    border-radius: 8px;
    background: var(--Neutral-White, #FFF);
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.40);
}

.benefits_card_section :nth-child(3){
    margin-bottom: 0px;
}

.benefits_card h3{
    text-align: center;
}

.benefits_cards_icon{
    display: flex;
    width: 267px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.benefits_cards_text{
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

/*End: Benefits*/

/*Start: Copy*/

section.copy{
    display: flex;
    padding: 0px 30px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 36px;
}

.copy_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.copy_text p{
    padding-bottom: 12px;
    text-align: left;
}

.copy_image img{
    width: 100%;
}

/*End: Copy*/

/*Start: Stats*/

section.stats{
    background-color: var(--Neutral-Silver);
}

.wrapper_stats{
    display: flex;
    padding: 60px 30px;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.stats_text{
    display: flex;
   
    flex-direction: column;
    align-items: left;
    gap: 12px;
}

.stats_text h2,p{
    text-align: center;
}

.stats_text h2 {
    max-width: 400px;
}

.stats_text p{
    color: var(--Neutral-Black);
}


.stats_cards_section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.stats_cards{
    max-width: 420px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 24px;
}


.stats_cards_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

/*End: Stats*/

/*Start: Copy_2*/

section.copy_2{
    display: flex;
    padding: 60px 30px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 36px;
}

.copy_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.copy_image img{
    width: 100%;
}

/*End: Copy_2*/

/*Start: Article*/

section.article{
    background-color: var(--Neutral-Silver);
}

.wrapper_article{
    display: flex;
    padding: 60px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 36px;
}

.article_header{
    max-width: 100%;
}

#article_header{
    width: 100%;
    max-width: 360px;
    
    border-radius: 12px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;

    box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);
}

.article_copy{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.article_copy p{
    text-align: left;
}

.article_author{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 24px;
    align-self: stretch;
}

.article_author p{
    color: var(--Neutral-L_Grey);
}

.article_clients_desktop{
    visibility: hidden;
    overflow: hidden;
    width: 0px;
    height: 0px;
}

.article_clients_mobile{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    align-content: flex-start;
    gap: 15px 35px;
    flex-wrap: wrap;
}


.article_logos_mobile{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    align-content: flex-start;
    gap: 12px 35px;
    flex-wrap: wrap;
}

.article_left{
    margin: 0 auto;
}

/*End: Articles*/

/*Start: Articles*/

section.articles{
    display: flex;
    padding: 60px 30px;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.articles_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.articles_text p {
    text-align: center;
}

.articles_text h2{
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.articles_card_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    max-width: 360px;
}

.article_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:-96px;
    margin-bottom:-96px;
}

.article_card_image{
    max-width: 360px;
}

.article_card_image img{
    max-width: 100%;
    border-radius: 8px;
}

.article_box{
    position: relative;
    top:-96px;

    display: flex;
    max-width: 80%;
    min-height: 100%;
    padding: 18px;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    border-radius: 8px;
    background: var(--Neutral-Silver, #F5F7FA);
    box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);

    z-index: 1;
}

.article_box h4{
    text-align: center;
}

/*End: Articles*/


/*Start: CTA*/

section.CTA{
    background-color: var(--Neutral-Silver);
}

.wrapper_CTA{
    display: flex;

    padding: 60px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.wrapper_CTA h1 {
    max-width: 350px;
}

/*End: CTA*/

/*Start: Footer Mobile*/

footer.footer_mobile{
    background: var(--Neutral-Black, #263238);
}

.wrapper_footer_mobile{
    display: flex;
    padding: 60px 30px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 48px;
    flex-wrap: wrap;
}

.footer_mobile_logo img{
    width: 150px;
    padding-bottom: 48px;
}


.footer_mobile_links{
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.footer_mobile_links ul{
    width: 135px;
    vertical-align: top;
    margin-top: -10px;
    padding: 0px;
}


#footer_header{
    color: var(--Neutral-White, #FFF);

    font-size: 18px;
    font-weight: 600;
    line-height: 40px; /* 155.556% */
}

.footer_mobile_links li,a{
    list-style: none;
    text-decoration: none;
            
    color: var(--Neutral-Silver);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 142.857% */
}

.h4_form{
    color: var(--Neutral-White);
    padding-bottom: 12px;
}

.footer_form_section{
    min-width: 220px;
}

input{
    width: 100%;
    height: 100%;
    padding: 9px 12px;
    display: block;

    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);  

    border-style: none;
}

::placeholder {
    color: var(--Text-Gray-300, #D9DBE1);
 }

#form_input{
    color: var(--Neutral-White);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    
}

.footer_form_full {
    position:relative;
    display:inline-block;

    width: 100%;
}

.input-group-text {
    position: absolute;
    right: 13px;
    top: 8.5px;
  }

.footer_mobile_end{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-top: -6px;
}

.footer_mobile_end p{
    text-align: left;
}

.footer_social_media{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.footer_social_media img{
    width: 36px;
}     
/*End: Footer Mobile*/

footer.footer_desktop{
    visibility: hidden;
    overflow: hidden;
    width: 0px;
    height: 0px;
}

/*End:Mobile*/






































